<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Launch2Lead</title>
</head>
<body>
<form id="user_form" class="form-horizontal" action="//authentication/Launch2LeadRegistration/" method="post"
        enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.as_p }}
        <div class="control-group">
        <label class="control-label" for="confirmsignup"></label>
            <div class="controls">
                <input id="confirmsignup" type="submit" name="confirmsignup" class="btn btn-success" value="Submit" />
            </div>
            </div>
</form>
</body>
</html>