/****Author = Pranava **************/

.navbar-default .navbar-header .navbar-brand img {
    height: inherit;
    width: inherit;
    margin-top: -15px;
}

#portfolio .portfolio-item img {
    height: 289px;
    width: 400px;
}

/************************************Modal Login/Registration*******************************************/
#myModal .modal-body {
    position: relative;
    padding: 15px;
    height: auto;
    width: 700px;
    opacity: 0.95;
    background-color: #fec503;
    box-shadow: 0 0 10px 4px;
    margin: 0 auto;
    margin-top: 8%;
    border-radius: 5px;
}

#myModal .nav-tabs {
    font-size: 16px;
    color: #080808;
}

#myModal .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    opacity: 0.95;
    color: #fec503;
    cursor: default;
    background-color: #07582E;
    border: 3px solid #07582E;
    border-bottom-color: transparent;
    border-radius: 5px;
    font-size: large;
    margin-right: 2px;
    line-height: 1.42857143;
}

#myModal .nav-tabs > li > a:hover {
    opacity: 0.85;
    color: #fec503;
    cursor: default;
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
    border-bottom-color: transparent;
    border-radius: 5px;
    font-size: large;
    margin-right: 2px;
    line-height: 1.42857143;
}

#myModal .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    font-size: 17px;
    color: #080808;
}

#myModal .tab-pane {
    margin-top: 6%;
    text-align: center;
    font-size: 16px;
}

#myModal .btn {
    margin-bottom: 0;
    font-weight: 600;
    width: 20%;
    line-height: 2;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 4px;
}

#myModal .btn-success {
    font-size: 16px;
    color: #fec503;
    background-color: #07582E;
    border-color: #07582E;
}

#myModal button {
    background: transparent;
    border: transparent;
}

/****************************************Dropdown***********************************************/

.dropdown .dropdown-menu {
    /*display: block;*/
    background-color: #222222;
    color: #fec503;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > a:after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    margin-top: 8px;
    margin-right: -10px;
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    vertical-align: bottom;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover > .dropdown-menu>li>a {
    width: auto;
    margin-left: -7px
}


.dropdown-submenu > a:after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

/***************************************************NavBar*********************************************/
.navbar-base {

    background-color: #222;
    border-color: transparent padding : 10 px 0;
}

.navbar-base .navbar-brand {
    color: #fed136;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

}

.navbar-base .navbar-brand:hover, .navbar-base .navbar-brand:focus, .navbar-base .navbar-brand:active,
.navbar-base .navbar-brand.active {
    color: #fec503;
    background-color: transparent;

}

.navbar-base .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-base .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136
}

.navbar-base .navbar-toggle .icon-bar {
    background-color: #242424
}

.navbar-base .navbar-toggle:hover, .navbar-base .navbar-toggle:focus {
    background-color: #fed136
}

.navbar-base .nav li a {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    background-color: transparent;
}

.navbar-base .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}

.navbar-base .nav li a:hover, .navbar-base .nav li a:focus {
    color: #fed136;
    outline: 0
}

.navbar-base .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}

.navbar-base .navbar-header .navbar-brand img {
    height: inherit;
    width: inherit;
    margin-top: -15px;
}

.navbar-default .navbar-header .navbar-brand img {
    height: inherit;
    width: inherit;
    margin-top: -15px;
}

@media (min-width: 768px) {
    .navbar-base {
        background-color: #222;
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }

    .navbar-base .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-base .navbar-nav > .active > a {
        border-radius: 3px
    }

    .navbar-base.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

.navbar-base .navbar-header .navbar-brand img {
    height: inherit;
    width: inherit;
    margin-top: -15px;
}

/************************************Modal Animation*******************************************/

#myModalanimi .modal-content {
    position: relative;
    right: 378px;
    padding: 15px;
    /*height: 600px;*/
    width: 1361px;
    /*opacity: 0.8;*/
    background-color: #242424;
    box-shadow: 0 0 10px 4px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 5px;
}

#myModalanimi .modal-body {
    position: relative;
    right: 24px;
    padding: 15px;
    /*height: 600px;*/
    width: 1374px;
    /*opacity: 0.8;*/
    /*background-color: #fec503;*/
    /*box-shadow: 0 0 10px 4px;*/
    /*margin: 0 auto;*/
    /*margin-top: 5%;*/
    /*border-radius: 5px;*/
}

#myModalanimi .nav-tabs {
    font-size: 16px;
    color: #080808;
}

#myModalanimi .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    opacity: 0.95;
    color: #fec503;
    cursor: default;
    background-color: #07582E;
    border: 3px solid #07582E;
    border-bottom-color: transparent;
    border-radius: 5px;
    font-size: large;
    margin-right: 2px;
    line-height: 1.42857143;
}

#myModalanimi .nav-tabs > li > a:hover {
    opacity: 0.85;
    color: #fec503;
    cursor: default;
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
    border-bottom-color: transparent;
    border-radius: 5px;
    font-size: large;
    margin-right: 2px;
    line-height: 1.42857143;
}

#myModalanimi .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    font-size: 17px;
    color: #080808;
}

#myModalanimi .tab-pane {
    margin-top: 6%;
    text-align: center;
    font-size: 16px;
}

#myModalanimi .btn {
    margin-bottom: 0;
    font-weight: 600;
    width: 20%;
    line-height: 2;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 4px;
}

#myModalanimi .btn-success {
    font-size: 16px;
    color: #fec503;
    background-color: #07582E;
    border-color: #07582E;
}

#myModalanimi button {
    background: transparent;
    border: transparent;
}

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 image : '../images/preloader.gif' no-repeat center center;
}

#blog .header1 {
    color: #FFFFFF;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -20px;
    background-color: #222222;
    /*border-radius: 5px;*/
    position: relative;
    padding: 3px;
    width: 160px;
    left: 45%;
}

#navblog .nav-tabs {
    font-size: 17px;
    border-width: 2px;
    border-color: #fec503;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;

}

#navblog .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    opacity: 0.95;
    color: #FFffff;
    cursor: default;
    background-color: #fec503;
    border: 2px solid #fec503;
    border-radius: 0;
    border-bottom-color: transparent;
    margin-right: 2px;
    line-height: 1.42857143;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

#navblog .nav-tabs > li > a:hover {
    opacity: 0.85;
    color: #fec503;
    cursor: default;
    background-color: transparent;
    border: 2px solid #fec503;
    border-bottom-color: transparent;
    font-size: 17px;
    margin-right: 2px;
    line-height: 1.42857143;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

#navblog .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    font-size: 17px;
    color: #fec503;
    padding: 7px 80px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

@media (min-width: 992px){
#homeBLog .col-md-4 {
    width: 33.33333333%;
    padding-top: 40px;
}}
